<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="methods" thread-count="6">
<listeners>
<listener class-name="com.yinting.core.Test.TestngListener"></listener>
</listeners>
   <test verbose="2" preserve-order="true" name="Test">
      <classes>
         <class name="com.yinting.core.TestCase"/>
         <class name="com.yinting.core.test1"/>
      </classes>
   </test>
</suite>
